* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1a1a1a;
    color: white;
    display: flex;
}

.sidebar {
    width: 80px;
    background-color: #5f3a86;
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .menu li {
    margin: 25px 0;
    display: flex;
    justify-content: center;
    color: #100F0F;
}

.sidebar .menu li span {
    display: none;
}

.sidebar .menu li:hover span {
    display: inline;
    position: absolute;
    left: 90px;
    background: #5f3a86;
    padding: 4px 8px;
    border-radius: 5px;
    white-space: nowrap;
    color: white;
}


.sidebar .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.sidebar .menu {
    list-style: none;
}

.sidebar .menu .SideImage {
    width: 28px;
    height: 28px;
}

/* .topbar {
    background: linear-gradient(to right, #5f3a86, #3a235c);
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 1000;
} */

.topbar {
    background: linear-gradient(to top, #5f3a86, #3a235c);
    height: 60px;
    width: calc(100% - 80px);
    left: 80px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}


.topbar .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard {
    margin-left: 80px;
    margin-top: 60px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: #121212;
}

.card {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.highlight {
    color: #b5d14d;
    font-size: 1.4em;
}

.sales {
    color: #4caf50;
    font-size: 1.3em;
}

.online {
    color: #4caf50;
    font-size: 1em;
}

.username {
    color: #8f7dfc;
}